<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
    {{- partial "head.html" . -}}
    {{ if or (.Params.math) (.Site.Params.math) }}
        {{- partial "math.html" . -}}
    {{ end }}
    <body class="notranslate">
        {{- partial "header.html" . -}}
        {{- partial "script_in_baseof/tombol_google_translate_inside.html" . -}}
        <div id="content" class="translate">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}

        <!-- Container untuk menampilkan gambar preview -->
        <div id="previewContainer">
            <img id="previewImage" src="" alt="Preview Gambar">
        </div>
    </body>
    
    <!-- libraries -->
    <!-- preview saat gambar diklik -->
    {{- partial "script_in_baseof/tag_img_preview.html" . -}}

    <!-- Google Translate -->
    {{- partial "script_in_baseof/init_google_translate.html" . -}}
    
</html>
