{{ define "main" }}

<div class="container">
    <div class="row align-items-center">
        <h1 class="col"> Recent {{ .Title }}</h1>
        <div class="col text text-right notranslate">
            <span>Info : </span>
            <span class="badge badge-secondary text-white">Date</span>
            <span class="badge badge-info text-white">Role</span>
            <span class="badge badge-pill badge-primary text-white">Tags</span>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        {{ range .Pages }}
            <div class="col p-1">
                <div class="shadow p-2 border">
                    <a href="{{ .Permalink }}" style="text-decoration: none;">
                        {{ with .Params.cover }}
                            <img src="{{ . }}" class="grid-img border mb-2 no-preview" alt="Cover Image">
                        {{ end }}
                        <div class="notranslate">
                            <span class="badge badge-secondary text-white">{{ .Date.Format "2006-Jan" }}</span>
                            {{ range .Params.bidang }}
                                <span class="badge badge-info text-white">{{ . }}</span>
                            {{ end }}
                            {{ range .Params.tags }}
                                <span class="badge badge-pill badge-primary text-white">{{ . }}</span>
                            {{ end }}
                        </div>
                        <div class="caption">{{ .Title }}</div>
                    </a>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
